#!/usr/bin/make -f

include /usr/share/postgresql-common/pgxs_debian_control.mk

override_dh_auto_build:
	+pg_buildext build build-%v

override_dh_auto_clean:
	# This breaks override_dh_auto_configure, so disable it.
	# Shouldn't be a problem as we already do packaging in
	# different directories for each pg version.
	#+pg_buildext clean build-%v

override_dh_auto_test:
	# nothing to do here, see debian/tests/* instead

override_dh_auto_configure:
	+pg_buildext configure build-%v --with-extra-version="$${CONF_EXTRA_VERSION:-}"

override_dh_auto_install:
	+pg_buildext install build-%v postgresql-%v-citus

%:
	dh $@
