#!/usr/bin/make -f

include /usr/share/postgresql-common/pgxs_debian_control.mk

override_dh_auto_build:
	# Flags taken from: https://liquid.microsoft.com/Web/Object/Read/ms.security/Requirements/Microsoft.Security.SystemsADM.10203#guide
	+pg_buildext build build-%v '$(CFLAGS) -fstack-protector-strong -D_FORTIFY_SOURCE=2 -O2 -z noexecstack -fpic -Wl,-z,relro -Wl,-z,now -Wformat -Wformat-security -Werror=format-security'

override_dh_auto_clean:
	# This breaks override_dh_auto_configure, so disable it.
	# Shouldn't be a problem as we already do packaging in
	# different directories for each pg version.
	#+pg_buildext clean build-%v

override_dh_auto_test:
	# nothing to do here, see debian/tests/* instead

override_dh_auto_configure:
	debian/check-gcc-version.sh
	+pg_buildext configure build-%v "--with-extra-version='$${CONF_EXTRA_VERSION:-}' --without-libcurl"

override_dh_auto_install:
	+pg_buildext install build-%v postgresql-%v-citus-enterprise
	# Create shared library dependencies before encrypting the files
	dh_shlibdeps
	debian/encrypt_files.sh

%:
	dh $@
